<!-- Webmaster verification. -->
<meta name="google-site-verification" content="0amRI76BeB5bRCiVTFG7eXMF4moXHkg7QKd5BFPiLr0" />
<meta name="msvalidate.01" content="640291DB6DB313ECEC38ED1AAC8034CE" />
<meta name="yandex-verification" content="8657958d8ad0ffba" />
<meta name="flattr:id" content="pd55kz">

<!-- Favicons and other icons.  -->
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png?v=8j8ajxQwQe">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v=8j8ajxQwQe">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v=8j8ajxQwQe">
<link rel="manifest" href="/favicon/site.webmanifest?v=8j8ajxQwQe">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg?v=8j8ajxQwQe" color="#268bd2">
<link rel="shortcut icon" href="/favicon/favicon.ico?v=8j8ajxQwQe">
<meta name="apple-mobile-web-app-title" content="HarveyNick.com">
<meta name="application-name" content="HarveyNick.com">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="msapplication-config" content="/favicon/browserconfig.xml?v=8j8ajxQwQe">
<meta name="theme-color" content="#ffffff">