{% assign posts = '' | split: ',' %}
{% for tag in page.tags %}
  {% assign posts = site.tags[tag] | concat: posts %}
{% endfor %}
{% assign posts = posts | uniq | sample: 4 %}

<div class="related">
  <h1 >{{ site.data.settings.related_posts }}</h1>
  <ul class="related-posts">
    
    {% assign count = 0 %}

    {% for related_post in posts %}
      {% unless related_post.url == page.url %}
        {% assign count = count | plus: 1 %}
        <li>
          <h3>
            <a href="{{ related_post.url }}">
              {{ related_post.title }}
            </a>
          </h3>
        </li>
      {% endunless %}

      {% if count >= 3 %}
        {% break %}
      {% endif %}
    {% endfor %}
  </ul>
</div>
