<div id="about-me" class="col-md-offset-3 col-md-6">
  <h4>about me</h4>
  <p>I'm a software engineer from Yorkshire (that's in northern England) now living in London and working for Google, where I build <a href="https://itunes.apple.com/app/google-adsense/id680739529?mt=8">iPhone apps</a> and <a href="https://developers.google.com/adsense/management/">REST</a> <a href="https://developers.google.com/adsense/host/">APIs</a>.</p>
  <p>This is a blog about hacking, food, movies, books, music, and whatever else happens to pop into my head.</p>
  <div class="social-icon-list">
    <a title="Twitter" href="https://twitter.com/harveynick"><img src="/images/glyphicons_social_31_twitter.png"/></a>
  </div>
</div>
